<section class="bg-white t-center" id="about">
  <div class="about">
    <div class="content">
      <div class="block-content mb-100">
        <div class="row">
          <div class="col-md-12">
            <div class="main-title profile">
              <h1 class="mb-20">Daniel Choe</h1>
              <h3>Full Stack Developer</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="block-content mb-100">
        <div class="row">
          <div class="col-md-12">
            <div class="sub-title mb-40">
              <h2 class="uppercase">About Me</h2>
            </div>
          </div>
        </div>
        <p class="lead-intro">
          I	am	an	aspiring	full	stack	web	developer	seeking	to hone	my current skill	set.	I	have	a	fundamental	understanding	of network topologies,	DOM,	and	OOP	principles,	as	well	as	experience	in	creating	dynamic	and	responsive web designs within an agile environment.	I	have	experience	as	a	Business	Analyst	(client	facing	role)	and	as	a	developer--so	I	have	a	keen	understanding	of	how both	sides	operate	when	it	comes	to	project	ownership,	deadlines,	and	completions. My resume is provided in this portfolio, if you would like to know more about me.
        <p>
          <br />
        <p>
          This website was created using Angular 7, Bootstrap, and is hosted on an AWS S3 Bucket using Route 53. The code base can be found for it on my GitHub provided in the website.
        </p><img class="signature mt-20" src="" alt="" />
      </div>
      <div class="block-content mb-100 pb-30">
        <div class="row">
          <div class="col-md-12">
            <div class="sub-title mb-40">
              <h2 class="uppercase">Personal Info</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3">
            <div class="listing mt-40">
              <div class="listing-inner">
                <div class="listing-event">
                  <ul class="data left">
                    <li class="emph-1">Name</li>
                    <li class="emph-1">Birthday</li>
                    <li class="emph-1">Last Location</li>
                    <li class="emph-1">Current Location</li>
                    <li class="emph-1">Nationality</li>
                  </ul>
                  <ul class="data right">
                    <li>Daniel Choe</li>
                    <li>03.19.1993</li>
                    <li>Indianapolis, IN</li>
                    <li>Dallas, TX</li>
                    <li>US Citizen</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-content mb-100 pb-30">
        <div class="row">
          <div class="col-md-12">
            <div class="sub-title mb-40">
              <h2 class="uppercase">Contact Info</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3">
            <div class="listing mt-40">
              <div class="listing-inner">
                <div class="listing-event">
                  <ul class="data left">
                    <li><span class="emph-1">Address</span> :<br /> United States <br /> 13301 Galleria Place <br /> Farmers Branch, TX</li>
                  </ul>
                  <ul class="data right">
                    <li><span class="emph-1">E-Mail</span> : danielchoe.dev@gmail.com</li>
                    <li><span class="emph-1">Website</span> : www.daniel-choe.com</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-content">
        <div class="row">
          <div class="col-md-12"><span class="page-number emph-1">- 1/5 -</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
