<section class="bg-white t-center" id="resume">
  <div class="resume">
    <div class="content">
      <div class="block-content mb-100">
        <div class="row">
          <div class="col-md-12">
            <div class="main-title">
              <h1 class="mb-20">Resume</h1>
              <h5 class="uppercase">My Resume</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="block-content mb-100 pb-10">
        <div class="row">
          <div class="col-md-12">
            <div class="sub-title mb-40">
              <h2 class="uppercase">Professional Timeline</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="timeline">
              <div class="timeline-inner">
                <div class="name switched"><span class="date">January 2020 - Current</span>
                  <h4>Vistra Energy (TXU)</h4>
                </div>
                <div class="detail">
                  <p>Senior Web Optimization Developer</p>
                  <p>Coordinate A/B and multi-variate testing (MVT) activities</p>
                  <p>Digital Marketing, Web Analytics</p>
                  <p>JavaScript (ES6), HTML/CSS, Adobe Target</p>
                </div>
              </div>
              <div class="timeline-inner">
                <div class="name"><span class="date">March 2019 - December 2019</span>
                  <h4>AT&T </h4>
                  <h6>(Contracted through Tech Mahindra / MNR IT Solutions)</h6>
                </div>
                <div class="detail">
                  <p>Full Stack Developer</p>
                  <p>JavaScript (ES6), React.js, jQuery</p>
                  <p>Java 8, Spring, Maven, TomCat, Mongo, SQL</p>
                  <p>Solr, Hadoop, Hive, Python 2/3, PySpark/PyMongo/PySolr, Jenkins</p>
                </div>
              </div>
              <div class="timeline-inner">
                <div class="name"><span class="date">October 2018 - March 2019</span>
                  <h4>Neiman Marcus</h4>
                  <h6>(Contracted through TekSystems)</h6>
                </div>
                <div class="detail">
                  <p>Front-end Developer</p>
                  <p>Web Analytics and UI Support</p>
                  <p>JavaScript (ES6), jQuery</p>
                  <p>Tealium, Adobe Analytics</p>
                </div>
              </div>
              <div class="timeline-inner">
                <div class="name"><span class="date">September 2017 - September 2018</span>
                  <h4>Infosys Ltd.</h4>
                </div>
                <div class="detail">
                  <p>Associate Developer</p>
                  <p>MEAN Stack, SQL, Angular 4, Express, Node, React</p>
                  <p>Karma and Jasmine</p>
                </div>
              </div>
              <div class="timeline-inner">
                <div class="name"><span class="date">July 2015 - August 2017</span>
                  <h4>WESCO Distribution</h4>
                </div>
                <div class="detail">
                  <p>Senior Account Manager</p>
                  <p>Distributor/Supplier/Account Management</p>
                  <p>Industrial Telecommunications</p>
                  <p>Networking Software/Hardware Solutions</p>
                </div>
              </div>
              <div class="timeline-inner">
                <div class="name"><span class="date">August 2011 - May 2015</span>
                  <h4>Indiana University of Bloomington</h4>
                </div>
                <div class="detail">
                  <p>Bachelor of Science in Informatics</p>
                  <p>Minors in Business, Marketing, Entrepreneurship and Managing Small Businesses
                  <br/><br/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-content mb-100 pb-30">
        <div class="row">
          <div class="col-md-12">
            <div class="sub-title mb-40">
              <h2 class="uppercase">skills</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="listing-large mt-40"><a class="uppercase emph-1 btn-1"
                                                href="https://s3.us-east-2.amazonaws.com/daniel-choe.com/Resume+-+Daniel+Choe.pdf" target="_blank">Download My
              Resume</a><a class="uppercase emph-1 btn-2"
                       href="javascript:window.open(&quot;https://s3.us-east-2.amazonaws.com/daniel-choe.com/Resume+-+Daniel+Choe.pdf&quot;);">Print
              My Resume</a>
              <div class="listing-large-inner">
                <div class="listing-event">
                  <ul class="data left clearfix">
                    <li>
                      <h5>JavaScript (ES6)</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span
                        class="transparent"></span><span class="transparent"></span></div>
                    </li>
                    <li>
                      <h5>Angular</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span>
                        <span class="transparent"></span><span class="transparent"></span>
                        <span class="transparent"></span><span class="transparent"></span></div>
                    </li>
                    <li>
                      <h5>React</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span>
                        <span class="transparent"></span><span class="transparent"></span>
                        <span class="transparent"></span><span class="transparent"></span></div>
                    </li>
                    <li>
                      <h5>Python</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span>
                        <span></span><span></span>
                        <span class="transparent"></span><span class="transparent"></span>
                        <span class="transparent"></span></div>
                    </li>
                    <li>
                      <h5>NodeJS</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span><span class="transparent"></span><span
                        class="transparent"></span><span class="transparent"></span><span class="transparent"></span>
                      </div>
                    </li>
                    <li>
                      <h5>HTML</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span>
                        </span><span class="transparent"></span></div>
                    </li>
                    <li>
                      <h5>CSS</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        <span></span><span class="transparent"></span>
                      </div>
                    </li>
                    <li>
                      <h5>Bootstrap & Material Design</h5>
                      <div class="rating"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span
                        class="transparent"></span><span class="transparent"></span><span class="transparent"></span>
                      </div>
                    </li>
                  </ul>
                  <ul class="data right clearfix">
                    <li>
                      <h5>Personal Skills</h5>
                      <p class="emph-3">Responsible, Diligent, Professional,<br/>Honest, Personable, Flexible</p>
                    </li>
                    <li>
                      <h5>Languages</h5>
                      <ul>
                        <li class="emph-1">English<span class="emph-4">(Fluent)</span></li>
                        <li class="emph-1">Korean<span class="emph-4">(Fluent)</span></li>
                      </ul>
                    </li>
                    <li>
                      <h5>Hobbies & Interests</h5>
                      <ul class="hb-list">
                        <li><span><i class="icon-code-1"></i></span>
                          <h6>Coding</h6>
                        </li>
                        <li><span><i class="icon-gamepad"></i></span>
                          <h6>Video Games</h6>
                        </li>
                        <li><span><i class="icon-food"></i></span>
                          <h6>Food</h6>
                        </li>
                        <li><span><i class="icon-globe-6"></i></span>
                          <h6>Travel</h6>
                        </li>
                        <li><span><i class="icon-video"></i></span>
                          <h6>Movies/Shows</h6>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--.block-content.mb-50.pb-30-->
      <!--    .row-->
      <!--        .col-md-12-->
      <!--            .sub-title.mb-40-->
      <!--                h2.uppercase Services-->
      <!--    .row-->
      <!--        .col-md-12-->
      <!--            .services.mt-30-->
      <!--                .block-service.clearfix-->
      <!--                    .col-sm-6.text-center-->
      <!--                        .ico.mb-15-->
      <!--                            i.icon-thumbs-up-5-->
      <!--                        .det-->
      <!--                            h5.mb-10 Great Support-->
      <!--                    .col-sm-6.text-center-->
      <!--                        .ico.mb-15-->
      <!--                            i.icon-params-->
      <!--                        .det-->
      <!--                            h5.mb-10 Development-->
      <!--.block-content.mb-100-->
      <!--    .row-->
      <!--        .col-md-12-->
      <!--            .sub-title.mb-40-->
      <!--                h2.uppercase testimonials-->
      <!--    .row-->
      <!--        .col-md-12-->
      <!--            .col-md-10.col-md-offset-1-->
      <!--                .testi.clearfix-->
      <!--                    ul#testimonial-carousel-->
      <!--                        li-->
      <!--                            .block-quote.t-left-->
      <!--                                blockquote-->
      <!--                                    | “Lorem ipsum dolor sit amet, consectetur-->
      <!--                                    | adipiscing elit, sed do eiusmod-->
      <!--                                    | tempor incididunt ut labore et dolore magna aliqua. Ut-->
      <!--                                    | enim ad minim veniam,-->
      <!--                                    | quis nostrud exercitation ullamco laboris nisi ut-->
      <!--                                    | aliquip ex ea commodo consequat.-->
      <!--                                    | Duis aute irure dolor in reprehenderit in voluptate-->
      <!--                                    | velit esse.”-->
      <!--                                h6.block-profile.mt-20-->
      <!--                                    | Carlose Anderson-->
      <!--                                    span Mutation Media CEO-->
      <!--                            .block-img-->
      <!--                                img(alt='', src='images/public/testimonial/1.png')-->
      <!--                        li-->
      <!--                            .block-quote.t-left-->
      <!--                                blockquote-->
      <!--                                    | “Lorem ipsum dolor sit amet, consectetur-->
      <!--                                    | adipiscing elit, sed do eiusmod-->
      <!--                                    | tempor incididunt ut labore et dolore magna aliqua. Ut-->
      <!--                                    | enim ad minim veniam,-->
      <!--                                    | quis nostrud exercitation ullamco laboris nisi ut-->
      <!--                                    | aliquip ex ea commodo consequat.-->
      <!--                                    | Duis aute irure dolor in reprehenderit in voluptate-->
      <!--                                    | velit esse.”-->
      <!--                                h6.block-profile.mt-20-->
      <!--                                    | Jonathan Anderson-->
      <!--                                    span  Mutation Media CEO-->
      <!--                            .block-img-->
      <!--                                img(alt='', src='images/public/testimonial/2.png')-->
      <div class="block-content">
        <div class="row">
          <div class="col-md-12"><span class="page-number emph-1">- 2/4 -</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
